/* 内容部分盒子 start */
.other_main {
  width: 100%;
  min-height: 100%;
}
.other_cont {
  padding-top: .2rem;
}
/* 内容部分盒子 end */
/* 积分抽奖 start */
.lottery_main {
  width: 100%;
  height: calc(100vh - 1.1rem);
  min-height: unset;
  overflow-y: hidden;
}
.lottery_list {
  width: 100%;
  height: 7.5rem;
}
.score_desc {
  width: calc(100% - .48rem);
  height: calc(100% - 7.5rem);
  padding: 0 .24rem;
}
.lottery_score {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}
.lottery_score p {
  padding: .04rem 0;
}
/* 积分抽奖 end */
/* 我的中奖记录 start */
.lotterylist {
  width: 100%;
  height: 100%;
}
.lottery_item {
  width: calc(100% - .48rem);
  height: 1.2rem;
  padding: 0 .24rem;
  border-bottom: .02rem solid #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lottery_title {
  width: 4.7rem;
}
.prize_name {
  width: calc(100% - 5.02rem);
}
/* 我的中奖记录 end */

