.classify {
  width: 100%;
  height: calc(100% - 2.1rem - 1px);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  /*border-top: .1rem solid #ffffff;*/
}
.classify_nav {
  width: 1.5rem;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border-right: .04rem solid #ffffff;
}
.classify_nav ul {
  width: 100%;
  height: auto;
}
.classify_nav li {
  width: 100%;
  padding: .3rem 0;
}
.classify_nav li div {
  width: calc(100% - .1rem);
  height: .4rem;
  line-height: .4rem;
  border-left: .1rem solid #eeeeee;
}
.classify_nav li.active div {
  border-left: .1rem solid #fa6400;
}
.classify_cont {
  width: calc(100% - 1.54rem);
}
