.order_main {
  width: 100%;
  height: calc(100% - .9rem - 1px);
  overflow: hidden;
}
.order_main_list {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: calc(.9rem + 1px);
  background-color: rgba(0,0,0,.4);
}
.order_cont {
  width: 100%;
  height: calc(100% - .88rem);
  overflow: hidden;
  overflow-y: scroll;
}
.order_section {
  width: calc(100% - .48rem);
  height: auto;
  padding: .3rem .24rem;
  margin-top: .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.order_section_usernote {
  width: calc(100% - .48rem);
  height: auto;
  padding: .3rem .24rem;
  margin-top: .2rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  overflow: hidden;
}
.editorder_usernote {
  margin-top: .2rem;
}
.order_desc {
  width: 100%;
  height: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_money {
  width: 100%;
  height: .88rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_money_totalMoney {
  width: calc(100% - 3.68rem);
  height: 100%;
  padding: 0 .24rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pay {
  width: 3.2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
