/* 商品介绍 start */
.goods_cont {
  width: 100%;
  /*height: calc(100% - .9rem);*/
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 1.2rem;
}
.goods_img {
  width: 100%;
  height: 7.5rem;
  position: relative;
}
.goods_img .img_box {
  width: 100%;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_box img {
  width: 100%;
}
.custom-indicator {
  position: absolute;
  right: .06rem;
  bottom: .06rem;
  padding: .06rem .08rem;
}
/* 活动提醒 start */
.promotemode_age {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - .48rem);
  height: 1.2rem;
  padding: 0 .24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotemode_age .desc {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: column;
}
.promotemode_age .desc .modenote {
  padding: .06rem .3rem;
}
.promotemode_age .price {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* 活动提醒 end */
.goods_desc {
  width: calc(100% - .48rem);
  margin: .24rem auto;
  padding-bottom: .2rem;
  overflow: hidden;
}
.goods_promot {
  width: 100%;
  min-height: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goods_price_cont {
  width: 80%;
  height: auto;
}
.goods_price {
  width: 95%;
  margin-left: .24rem;
  display: flex;
  align-items: center;
}
.goods_price > div {
  margin-right: .2rem;
}
.goods_price > div:nth-child(2) {
  padding: .1rem 0;
}
.goods_price > del {
  padding: .1rem 0;
}
.goods_promot_age {
  height: .36rem;
  line-height: .36rem;
  padding: 0 .1rem;
}
.countdown {
  width: 2.46rem;
  min-height: .7rem;
  padding-right: .24rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column;
}
.countdown_cont {
  /*width: 100%;*/
  height: .3rem;
}
.goods_desc_name {
  width: 100%;
  height: auto;
}
.goods_name {
  width: calc(100% - .48rem);
  padding: 0 .24rem;
  margin-top: .2rem;
  line-height: 1.5;
}
/* 商品介绍 end */
/* 内容模块 start */
.goods_section {
  width: calc(100% - .48rem);
  margin: .24rem auto;
  overflow: hidden;
  line-height: 2.5;
}
.goods_section_item {
  padding-left: .24rem;
}
/* 内容模块 end */
/* 规格样式 start */
.amount_style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - .9rem);
}
.amount_style_cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: .2rem 0;
}
.amount_style_cont .standard_list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.amount_style_cont .standard_list > ul {
  width: calc(100% - .48rem);
  padding: .24rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
}
.amount_style_cont .standard_list .standard_item {
  padding: .08rem .2rem;
  margin: 0 .3rem .3rem 0;
}
.amount_style_cont .goods_amount {
  width: calc(100% - .48rem);
  height: auto;
  padding: 0 .24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount_style_cont .goods_amount .goods_nums {
  width: 1.76rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amount_style_cont .goods_amount .goods_num_btn {
  width: .4rem;
  height: .4rem;
  line-height: .4rem;
}
.amount_style_cont .goods_amount .goods_num_input {
  width: .7rem;
  height: .4rem;
  line-height: .4rem;
  margin: 0 .1rem;
}
/* 规格样式 end */
/* 购物车 start */
.carts {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carts_btn {
  width: 2.4rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: .1rem;
}
.carts_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
}
.carts_img img {
  width: 50%;
}
.carts_img .carts_num {
  position: absolute;
  top: .2rem;
  right: 0;
  width: .3rem;
  height: .3rem;
  line-height: .3rem;
}
.btns_cont {
  width: 100%;
}
.btns {
  width: calc(100% - 2.74rem);
  height: 100%;
  padding-right: .24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods_btn {
  width: 100%;
  height: .7rem;
  line-height: .7rem;
}
.goods_btn:first-child {
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 5rem;
}
.goods_btn:last-child {
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
}
/* 购物车 end */
